<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gestor/style.css' %}">
</head>

<body>
    {% if latest_tarea_list %}
    <ul>
        {% for tarea in latest_tarea_list %}
        <li><a href="{% url 'gestor:detail' tarea.id %}">{{ tarea.titulo_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Tareas are available.</p>
    {% endif %}
</body>

</html>